.list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    color: #fffb00;
    text-transform: uppercase;
}

.total {
    display: block;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    color: #fffb00;
    text-transform: uppercase;
}

.feedback {
    display: block;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    color: #fffb00;
    text-transform: uppercase;
}